# transformar cadenas

texto a trabajar

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

dividir texto

In [2]:
text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

define palabras clave

In [3]:
key_words = ["average", "temperature", "distance"]

ciclo para recorrer la cadena

In [4]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

Ciclo para cambiar C a Celsius

In [5]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

# Formateando cadenas

datos a trabajar

In [6]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

creamos el titulo

In [8]:
title = f'datos de gravedad sobre {nombre}'

creamos la plantilla

In [9]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

unionde ambas cadenas

In [10]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

nuevos datos de muestra

In [11]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

comprobamos la plantilla

In [12]:
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [14]:
print(nombre)

Ganímedes

nueva plantilla

In [17]:
new_template = """
Datos de Gravedad sobre: {nombre}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [21]:
print(new_template.format(nombre,planeta,gravedad))

KeyError: 'nombre'